@if (!(bool)ViewBag.modal) {
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Additional</title>
</head>
<body>
    <div style="position: absolute; left: 49%; top: 49%">
        <button onclick="javascript:alert('done')">alert</button>
    </div>
</body>
</html>
}
else
{   
    <div style="position: absolute; left: 49%; top: 49%">
        <button onclick="javascript:alert('done')">alert</button>
    </div>
}